{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{%block content%}
<link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
<div class="container">
    <img src="https://www.ngnews.ca/static/overrides/ngnews/dist/img/meta-logo.png" style="height: 170px;width:200px;">
    <marquee behavior="inherit" direction="inherit"><h1 style="text-align:center;font-family: 'Chilanka', cursive;color: rgb(8, 119, 88)">Get Some Update Of World's Reality</h1></marquee>
    <hr>         
    {{ macro.displaySource(isoko) }}
                       
</div>

{% endblock %}>

