{% import 'macros.html' as macro %}
{% extends 'base.html' %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
<body>
    {% block content %}
    <h1 style="text-align:center;font-family: 'Chilanka', cursive;color: rgb(8, 119, 88)"> NEWS ARTICLES </h1>
        <div class="col-md-1"></div>
        <div class="col-md-10" style="text-align:center"></div>
        <ul>
            {% for articles_item in articles %}
                <li style="list-style-type:none; text-align:center"><h3> {{ articles_item.title}} </h3></li>
                <li style="list-style-type:none; text-align:center"><img src="{{articles_item.urlToImage}}"> </li>
                <li style="list-style-type:none"><p> {{ articles_item.description }} </p></li>
                <li style="list-style-type:none; text-align:center"><p> {{ articles_item.publishedAt }}  </p></li>
                <li style="list-style-type:none; text-align:center"><a href="{{ articles_item.url }}" class="btn btn-primary">Click Here For More Details</a> </li>
                
                <hr> 
            {% endfor %}
        </ul>
        </div>
    {% endblock %}
        <div class="col-md-1"></div>

</body>