{% import 'macros.html' as macro %}
{% extends 'base.html' %}
<body>
    {% block content %}
    <h1 style="text-align:center"> NEWS ARTICLES </h1>
        <div class="col-md-1"></div>
        <div class="col-md-10" style="text-align:center"></div>
        <ul>
            {% for articles_item in articles %}
                <li style="list-style-type:none; text-align:center"><h3> {{ articles_item.title}} </h3></li>
                <li style="list-style-type:none; text-align:center"><img src="{{articles_item.urlToImage}}"> </li>
                <li style="list-style-type:none"><p> {{ articles_item.description }} </p></li>
                <li style="list-style-type:none; text-align:center"><p> {{ articles_item.publishedAt }}  </p></li>
                <li style="list-style-type:none; text-align:center"><a href="{{ articles_item.url }}" class="btn btn-primary">Click Here For More Details</a> </li>
                
                <hr> 
            {% endfor %}
        </ul>
        </div>
    {% endblock %}
        <div class="col-md-1"></div>

</body>