{% import 'macro.html' as macro %}
{% extends 'base.html' %}
<body>
    {% block content %}
    <h1 style="text-align:center"> NEWS SOURCES </h1>
        <div class="col-md-3"></div>
        <div class="col-md-6" style="text-align:center"></div>
            <ul>
                {% for source in sources_list %}
                    <li style="list-style-type:none;"><h3> <a href="{{ source.url}}">{{ source.name}}</a> </h3></li>
                    <li style="list-style-type:none"><p> {{ source.description }} </p></li>
                    <a href="/news_article/{{ source.id }}" class="btn btn-primary">Click Here For Articles</a>
                    
                    <hr> 
                {% endfor %}
            </ul>
        </div>
    {% endblock %}
        <div class="col-md-3"></div>

</body>